@use '../custom' as *;
@use '../components/mixins' as *;

.testimonials {
    position: relative;
    padding: 0;
    @include gradient;

    &__card{
        margin-top: 1rem;
        text-align: center;
        height: auto;
        border-radius: 0.645rem;
        padding:2rem 1.25rem;
        background: rgba($white,0.8);
    }
       &__name{
        text-align: center;
        color: rgba($white,0.8);
        padding-top:2rem;
        margin-bottom: 1rem;
        font-weight: 500;
        h3{
            padding-top:0.8 ;
            text-transform: capitalize;
        }
    }  


}

